In [1]:
import rapmsanalysis

In [2]:
targets=('U1','U2','U6','U7','7SK','7SL','RMRP','XIST')

df = rapmsanalysis.import_rap('../22.02.21_multiRAPMS2.0/proteinGroups.txt',
                       'Intensity',
                       targets,
                         2,
                       'mouse')

df.head()

,Gene names,Intensity 7SK_1,Intensity 7SK_2,Intensity 7SL_1,Intensity 7SL_2,Intensity RMRP_1,Intensity RMRP_2,Intensity U1_1,Intensity U1_2,Intensity U2_1,Intensity U2_2,Intensity U6_1,Intensity U6_2,Intensity U7_1,Intensity U7_2,Intensity XIST_1,Intensity XIST_2
1,Gm8797;Uba52;Rps27a;Ubb;Ubc,8830700,9826500,16979000,10508000,111910000,15227000,74709000,64764000,131660000,171470000,411410000,167140000,12392000,35089000,29631000,11791000
2,Rbm8a,0,0,0,0,0,0,0,0,1767100,2589000,0,0,0,0,0,0
3,Rpl13a,0,0,0,0,0,0,0,0,0,1568000,0,0,0,0,0,0
4,Rpl7a,0,0,0,0,0,0,0,1299900,12841000,10625000,0,0,0,0,0,0
5,Rpl9,0,0,0,0,0,0,1392800,0,0,3326000,0,0,0,0,0,0

In [3]:
anova = rapmsanalysis.rap_anova(df,
                       2,
                       thresh=0.1)

anova.head()

,7SK_1,7SK_2,7SL_1,7SL_2,RMRP_1,RMRP_2,U1_1,U1_2,U2_1,U2_2,U6_1,U6_2,U7_1,U7_2,XIST_1,XIST_2,OneWay_Pval
Gene names,,,,,,,,,,,,,,,,,
Gm8797;Uba52;Rps27a;Ubb;Ubc,8830700,9826500,16979000,10508000,111910000,15227000,74709000,64764000,131660000,171470000,411410000,167140000,12392000,35089000,29631000,11791000,3.134826e-02
Rbm8a,0,0,0,0,0,0,0,0,1767100,2589000,0,0,0,0,0,0,5.062222e-05
Rpl7a,0,0,0,0,0,0,0,1299900,12841000,10625000,0,0,0,0,0,0,8.007538e-07
Gm3839;Gapdh,2496700,3171700,2042400,0,87352000,35498000,41774000,24712000,141030000,106490000,292050000,101480000,1211400,26849000,104230000,1128600,8.208414e-02
Rbmxl1;Rbmx,0,897470,658000,1293300,0,953150,368140000,351230000,16417000,21943000,10089000,28170000,775420,1771400,9490900,9305700,1.119230e-10

In [4]:
tukey = rapmsanalysis.rap_tukey(anova, 2, 'data/multiRAP-Tukey.xlsx',thresh=0.05)

tukey.head()

/Users/drewhonson/Downloads/22.05.16_RAPMS2.0-Figures/rapmsanalysis.py:129: RuntimeWarning: divide by zero encountered in log10
  tukey = -1*np.log10(tukey_hsd(*subvals).pvalue)

,7SK,7SL,RMRP,U1,U2,U6,U7,XIST
Gene names,,,,,,,,
Gm8797;Uba52;Rps27a;Ubb;Ubc,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
Rbm8a,0.0,0.0,0.0,0.000000,4.075349,0.0,0.0,0.0
Rpl7a,0.0,0.0,0.0,0.000000,5.882926,0.0,0.0,0.0
Gm3839;Gapdh,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0
Rbmxl1;Rbmx,0.0,0.0,0.0,9.759538,0.000000,0.0,0.0,0.0